<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.avatar.model.dao.mapper.UserDevicesMapper">
    <resultMap id="userDevices" type="com.project.avatar.model.dao.data.UserDevicesData">
        <id property="id" column="id"/>
        <result property="dType" column="d_type"/>
        <result property="dIsMobile" column="d_is_mobile"/>
        <result property="dName" column="d_name"/>
        <result property="dManufacturer" column="d_manufacturer"/>
        <result property="bType" column="b_type"/>
        <result property="bName" column="b_name"/>
        <result property="bVersion" column="b_version"/>
        <result property="registerTime" column="register_time"/>
        <result property="lastLoginTime" column="last_login_time"/>
        <result property="loginIp" column="login_ip"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <select id="queryDeviceByUserId" resultMap="userDevices">
        select * from user_devices where user_id = #{userId} order by id desc limit 1
    </select>

    <select id="queryDevicesByUserId" resultMap="userDevices">
        select * from user_devices where user_id = #{userId}
    </select>

    <insert id="saveDevices" parameterType="com.project.avatar.model.dao.data.UserDevicesData">
        insert into user_devices (d_type, d_is_mobile, d_name, d_manufacturer, b_type, b_name, b_version, register_time, last_login_time, login_ip, user_id)
        VALUES (#{dType},#{dIsMobile},#{dName},#{dManufacturer},#{bType},#{bName},#{bVersion},#{registerTime},#{lastLoginTime},#{loginIp},#{userId})
    </insert>
</mapper>
